# County Health Data Analysis



#### Overview
This notebook will show you how to use the pandas package for data analysis. Using this, you will be able to create subset of the data. 

#### Setting Up

1. Start by downloading the file onto your computer and saving it under the same folder as the notebook.
2. Import the file into the notebook using `import`. 
3. To make the file easier to work with, use `as pd`. By doing this, you will not need to type out the file name every time. For example, you would only need to type `pd.<function>` rather than `pandas.<function>`

In [34]:
import pandas as pd

Define the dataframe as `df`. Add the function `.read_csv()` so that the object `df` can read the file. By defining `df` you do not need to write out `pd.read_cvs()` every time.

In [53]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")





#### Filtering Data

Focus in on certain variables. In this subset, we will be looking at the `"Health care costs"` and `"Child mortality"` in U.S. states. To do this use `[<variable>]` use **commas** to separate variables.

In [55]:
df[["State","Health care costs", "Child mortality"]]

     State  Health care costs  Child mortality
0       AK             3791.0              NaN
1       AK             4837.0              NaN
2       AK             6588.0             51.7
3       AK             6582.0             46.4
4       AK             5860.0            180.3
...    ...                ...              ...
6104    WY             7600.0             47.7
6105    WY             8202.0              NaN
6106    WY             7940.0              NaN
6107    WY             6906.0              NaN
6108    WY             7238.0              NaN

[6109 rows x 3 columns]

This will become your new subset.

#### Creating New Subset

Now, rename the subset as `State_Child_Mortality`. Unlike `pd` or `df`, here we need to know what the data is used for, so name it something that explains the data.

In [61]:
State_Child_Mortality = df[["State","County","Health care costs", "Child mortality"]]

Now that we have a new dataset, we need to save it as a `.cvs`. Use `.to_cvs()`. Add the name of the new subset inside `()`. 

Use `index=False` to eliminate the row of indices that pandas will automatically create when we read the original file.

In [62]:
State_Child_Mortality.to_csv("State_Child_Mortality.csv", index=False)

**Now you will have the new cvs file your our working directory.**